@media (max-width:1200px){

    html{
        font-size: 55%;
    }

    .home{
        padding:1rem 4rem;
    }


}

@media (max-width:991px){

   header{
       left:-120%;
   }

   #menu{
       display: block;
   }

   header.toggle{
    left:0%;
   }

   body{
    padding:0;
}

}

@media screen and (max-width:880px){

    body{
        font-size: 50%;
    }
    
    .about{
        padding: 0px 19rem;
    }

    .education{
        padding: 0 19rem;
    }

    .skills{
        padding: 0 19rem;
    }

    .certification{
        padding: 0 19rem;
    }

    

    .imag{
        position: relative;
        min-width: auto;
        width: auto;
        height: 200px;
        border-radius: 5px;
        margin-right: 10px;
        transition: 0.5s;
    }
    
    .image img{
        width: 80%;
        height: 200px;
        padding-top: 2rem;
    }
    
    .imag:hover{
        transform: scale(1.1);
    }
    
    .imag:hover .imgwrite{
        opacity: 1;
    }
    
    .imgwrite{
        opacity: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        background: linear-gradient(to bottom, rgba(4, 8, 15, 0), #192133 90%);
        padding: 10px;
        transition: 0.5s;
    }
    
    .imgwrite p{
        color: #fff;
        font-family: 'poppins';
        font-size: 11px;
        font-weight: 500;
        text-transform: capitalize;
        margin-top: 60%;
    }
    
    .projects{
        padding:0 19rem;

    .feedback{
        padding: 0 19rem;
    }

    footer{
        padding: 0 19rem
    }
 }


 @media (max-width:430px) {
    .education{
        padding: 0 1rem;
    }

    .about{
        padding: 0 1rem;
    }

    header{ 
        width: 80%;
    }

    header .picture img{
        padding-top: 2rem;
    }
    .skills{
        padding: 0 1rem;
    }

    .skills .skill1 .skill-count1, .skill2 .skill-count2, .skill3 .skill-count3, .skill4 .skill-count4, .skill5 .skill-count5, .skill6 .skill-count6, .skill7 .skill-count7, .skill8 .skill-count8, .skill9 .skill-count9, .skill10 .skill-count10 {
    width: 15%;
    }

    .wrapper{
        width: 250px;
    }

    .certification{
        padding: 0 1rem;
    }

    .imag{
        position: relative;
        min-width: auto;
        width: auto;
        height: 180px;
        border-radius: 5px;
        margin-right: 10px;
        transition: 0.5s;
    }
    
    .image{
        width: 100%;
        height: 100%;
        padding-top: 4rem;
    }
    
    .imag:hover{
        transform: scale(1.1);
    }
    
    .imag:hover .imgwrite{
        opacity: 1;
    }
    
    .imgwrite{
        opacity: 0;
        width: 100%;
        height: 220px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        background: linear-gradient(to bottom, rgba(4, 8, 15, 0), #192133 90%);
        padding: 10px;
        transition: 0.5s;
    }
    
    .imgwrite p{
        color: #fff;
        font-family: 'poppins';
        font-size: 10px;
        font-weight: 100;
        text-transform: capitalize;
        margin-top: 60%;
    }
     
     .projects{
         padding: 0 1rem;

    .feedback{
        padding: 0 1rem;
        align-items: center;
    }

    footer{
        padding: 0 1rem;
    }
 }
